
.jumbotron{
  background-image: url("/assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.jumbotron{
  border-radius: 0;
}
.contents{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card-img{
  height: 300px;
  width: 300px;
}

@media (max-width: 740px) {

  hr {
    height: 0;
    width: 0;
  }

}
.overlay{
  background-color: rgba(0,0,0,0.0);
  height: inherit;
}
.user{
  font-size: 30px;
  color: black;
}
.home_text{
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: 'Love Ya Like A Sister', cursive;
}
.b{
  color:#3369E8;
}
.r{
  color:#D50F25;
}
.y{
  color:#EEB211;
}
.g{
  color:#009925;
}
.footer-text{
  font-family: system-ui, serif;
  padding-top: 20px;
  padding-bottom:-40px;
  color: white;
}
#fa-love{
  color: red;
  opacity: 0.7;
}
.fa{
  color: red;
}
